.success-post-box {
    background-color: #DFF2BF;
    margin-bottom: 20px;
    padding: 10px;
}

.success-post {
    color: #4F8A10;
}
  
.error-post-box {
    background-color: #FFD2D2;
    margin-bottom: 20px;
    padding: 10px;
}

.error-post {
    font-size: 1em;
    color: #D8000C;
}