.import-success-box {
    background-color: #dff2bf;
    margin-bottom: 20px;
    padding: 10px;
}

.import-success-message {
    color: #4f8a10;
}

.upload-fail-box {
    background-color: #ffd2d2;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.upload-fail-message {
    display: block;
    font-size: 1em;
    color: #d8000c;
    padding: 2px 0;
}